name: Clippy

on: push

jobs:
  clippy-windows:
    name: Clippy Windows
    runs-on: windows-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Get Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Get Npcap Sdk
        run: |
          curl https://npcap.com/dist/npcap-sdk-1.15.zip -o sdk.zip
          unzip sdk.zip

      - name: Clippy on npcap ver
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-default-features --features pcap
        env:
          LIB: ${{ github.workspace }}/Lib/x64/

      - name: Clippy on pktmon ver
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-default-features --features pktmon
        env:
          LIB: ${{ github.workspace }}/Lib/x64/

  clippy-linux:
    name: Clippy Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Get Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy

  clippy-macos:
    name: Clippy Macos
    runs-on: macos-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Get Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
